body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    color: var(--text-50);

    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 86%;
    padding-block: 2%;
    gap: 10px;
    color: var(white);
    border: 1px solid #fff;
    padding: 3%;
    border-radius: 10px;
}
input {
    color: white;
    background-color: #000;
}
label  {
    color: var(--text-50);
}