#urlsContainer {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerUrl,
.form {
    display: flex;
    width: 86%;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: var(--background-900);
    padding: 2% 13px;
    border-radius: 20px;
}

.form {
    flex-direction: column;
    justify-content: center;
}

.subContainer {
    display: flex;
    width: 80%;
    flex-direction: column;
}

.url,
.trash {
    color: var(--accent-50);
    font-size: 15px;
    text-align: center;
}

.url1,
.url2 {
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--accent-50);
    display: flex;
    align-items: center;
    gap: 10px;
}
.qrContainer {
    position: relative;
    display: inline-block;
    width: 20%;
}
.openQr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el icono dentro del contenedor */
    z-index: 20;
    color: var(--background-800);
    font-size: 30px;
}
.qr {
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 10px;
    filter: blur(2px);
}

input {
    background-color: transparent;
    border: none;
    color: var(--accent-50);
    margin: 6px 4px;
    font-size: 15px;
    border-bottom: 1px solid var(--accent-50);
    width: 95%;
}

input::placeholder {
    margin-left: 10px;
}
label {
    font-size: 20px;
    color: #f11;
}
.button {
    border: none;
    text-align: center;
    border: solid 1px var(--accent-50);
    background-color: var(--primary);
    padding: 10px;
    width: 50%;
    border-radius: 15px;
    margin-bottom: 8px;
}


@media (min-width: 600px){
    .containerUrl, .form {
        width: 45%;
    }
    .url1,
    .url2,
    .trash {
        font-size: 25px;
        margin-left: 10px;
    }
    .subContainer {
        gap: 10px;
    }
    .qrContainer {
        width: 13%;
    }
}